*.env
__pycache__
temp/
venv_ai_server
Yolov7_StrongSORT_OSNet/

app/extracted_videos/
app/yolo_crops/

poc/tracking_module/sample.mp4
poc/tracking_module/yolo11m.engine

poc/nvr_util/config.py
poc/yolo_engine
poc/sample.mp4
